CompileFlags:
  Add:
    - -std=c11
    - --target=riscv32-unknown-elf
    - -fno-builtin
    - -fno-stack-protector
    - -ffreestanding
    - -nostdlib
    - -Isrc/kernel/includes
    - -Isrc/libc/includes
    - -I./src/kernel/arch/riscv/includes
  CompilationDatabase: .
